@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-img">
<div class="wrapper text-center">
    <h1 class="big-heading text-info fw-bold display-3">Welcome to Simple Hire</h1>
    <h1 class="sm-heading text-light fs-4 fw-light">Post your information to get your dream job</h1>
    <a class="pr-action text-decoration-none text-black fw-bold  btn btn-info mt-4"
    asp-area="" asp-controller="Talent" asp-action="Index">post your info <i class="fa-solid fa-arrow-right-long"></i></a>
</div>
</div>