@model Info
@{
    ViewBag.Title = "Delete Talent";
}
<div class="dwrapper">
    <div class="dcard">
    <h3>Do you want to delete <span class="text-info fw-bold">@Model.Name</span>  from the talent list</h3>
<form asp-action="Delete" method="post" class="mt-3">
    <input type="hidden" asp-for="InfoId" />
        <button type="submit" class="btn btn-danger fw-bold me-3"><i class="fa-solid fa-trash"></i> Delete</button>
        <a asp-controller="Talent" asp-action="Index" class="btn btn-info fw-bold"><i class="fa-solid fa-xmark"></i> Cancel</a>
</form>
</div>
</div>